.side-bar
  .side-bar-user-name
    
    .sidebar-user-box
      .left-name 
        = current_user.name
      .right-logo
        = link_to new_group_path, class: "contents__btn", style:"color:white" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "contents__btn", style:"color:white" do
          = icon('fas', 'cog')

          
        
  .side-bar__group-list
    .group-box
      -current_user.groups.each do |group|
        .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message